

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* main style */

.main{
    max-width: 1140px;
    margin: o auto;
}
.text-center{
    text-align: center;
}    

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* Nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px;
    
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.secondary-bg{
    background-color: #fff8f3;
}

.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}


.text-primary{
    color: #FD6E0A;
}

.nav-titel {
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 55px 0 205px;
}

.banner-containt{
    max-width: 580px;
}

.banner-titel{
    font-size: 45px;
    font-weight: 600;
}

.banner-name{
    font-size: 85px;
    font-weight: bold;
}

.speach{
    font-size: 18px;
}

.banner-profile-pic{
    width: 580px;
}


/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.skill{
    border-radius: 10px;
    padding: 70px 80px;
    text-align: center;
    
}
.item-description{
    font-weight: 600;
    
}
.item-titel{
    color: #0512a3;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.skill-container{
    display: flex;
    gap: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.skill{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px; 
}
.text-center{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}
 .resume-container{
    display: flex;
    gap: 24px;
    margin: 10px 50px;
 }
 .experience-description, .experience-sub-title{
    color: #757575;
 }
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; 
}
.section-title{
    font-size: 30px;
}
.resume-download{
    margin-top: 50px;
}

footer{
    padding:130px 230px ;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    
}
